@layer reset, base, navegation, components;

@layer reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@layer base {
    body {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    body,
    html {
        overflow-x: hidden;
        height: 100vh;
        width: 100vw;
        scroll-behavior: smooth;
    }
}

@layer navegation {
    /* ESTILOS BASE (MOBILE-FIRST) */

    nav {
        display: flex;
        width: 100%;
        position: absolute;
        align-items: center;
        /* background-color: #4d601a; */
        background-color: transparent;



        .container-nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-family: 'Raleway', sans-serif;
            align-items: center;
            padding: 0 16px;
            margin: 15px 0;


            .container-logo {
                display: flex;
                align-items: center;
                gap: 3px;
                color: #f9f9f9;

                .logo {
                    width: 35px;
                    height: 35px;
                }

                p {
                    font-size: 17px;
                    font-weight: 600;
                }
            }

            ul {
                display: none;
            }
        }
    }

    .dropdown-menu {
        display: flex;
        gap: 0;
        position: absolute;
        top: 54px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #4C6434;
        padding: 0;
        overflow: hidden;
        transition: all 0.5s;

        ul {
            list-style-type: none;
            padding: 0;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #fbfbfb;

            li {
                padding: 20px;


                &:not(:last-child) {
                    border-bottom: 1.3px solid #bbfc0a;
                }
            }

        }

        @media (width >=778px) {
            display: none;
        }
    }


    @media (min-width: 778px) {

        nav {
            position: absolute;
            background-color: transparent;

            .container-nav {
                padding: 0px 44px;
                gap: 50px;
                justify-content: flex-start;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* background-color: transparent; */

                .menu-toggle {
                    display: none;
                }

                .menu-main {
                    display: flex;
                    gap: 45px;
                    margin-left: 80px;

                    li {
                        list-style-type: none;
                        font-family: 'Raleway', sans-serif;
                        font-weight: 400;
                        position: relative;

                        a {
                            text-decoration: none;
                            color: #fff;
                            cursor: pointer;
                        }


                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 1.8px;
                            background-color: #fff;
                        }

                        &:before {
                            top: 0;
                            left: 0;
                        }

                        &:after {
                            bottom: 0;
                            right: 0;
                        }


                        &:hover {
                            &:before {
                                right: 0;
                                left: auto;
                                width: 100%;
                                background-color: #d5e8de;
                                transition: 0.3s all ease-in-out;
                            }

                            &:after {
                                right: auto;
                                left: 0;
                                width: 100%;
                                background-color: #d5e8de;
                                transition: 0.3s all ease-in-out;
                            }


                            a {
                                color: #d5e8de;
                            }
                        }
                    }
                }
            }
        }

    }
}



@layer components {


    #hero {
        background-image: url(images/1750271411483_1nnnm2_2_0.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Open Sans', sans-serif;

    }


    .container-hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 265px 16px;
        /* Padding reduzido no mobile */
        width: 100%;
        max-width: 550px;
        box-sizing: border-box;
        color: #ffffff;

        h1 {
            font-size: 20px;
            font-weight: 700;
            line-height: 40px;
            /* margin-bottom: 10px; */
        }

        p {
            font-size: 15px;
            font-weight: 600;
            line-height: 24px;
        }

        a {
            padding: 10px 15px;
            border-radius: 20px;
            border: none;
            background-color: #2e3505;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            font-weight: 800;
            /* margin-top: 10px; */
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
        }
    }

    /* DESKTOP (min-width: 1133px) */
    @media (min-width: 778px) {
        #hero {
            background-image: url(images/passaro3.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            align-items: flex-start;

        }

        @media (max-width: 1307px) and (min-width: 778px) {
            #hero {
                background-image: url(images/passaro-redimencionado2.JPG);
            }
        }

        .container-hero {
            width: 100%;
            max-width: 785px;
            padding: 200px 300px 32px 32px;
            margin-left: 20px;
            align-items: flex-start;

            h1 {
                font-size: 35px;
                margin-bottom: 35px;
            }

            p {
                font-size: 17.5px;
            }

            a {
                margin-top: 45px;

                &:hover {
                    background-color: #7b9d1d;
                    transform: scale(1.05) translateY(-3px);
                    box-shadow: 0 5px 15px rgba(118, 213, 23, 0.4);
                }
            }
        }

        @media (min-width: 1308px) {
            .container-hero {
                max-width: 890px;
            }
        }
    }



    #curiosidades {
        padding: 30px 16px;
        font-family: 'Open Sans', sans-serif;

        .title-sessao2 {
            font-size: 1.2rem;
            border-bottom: 0.2px solid #2e3505;
            color: #2e3505;
        }

        .p-sessao2 {
            margin-top: 25px;
            font-size: 1rem;
            padding: 10px;
        }


        article {
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(8, 77, 26, 0.3);


            h3 {
                font-size: 1.1rem;
                color: #2e3505;
            }

            p {
                font-size: 1rem;
                font-weight: 500;
            }

            img {
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            }
        }

        article {
            display: none;
        }

        article.active {
            /* Este é o seletor CORRETO */
            display: flex;
            /* O artigo ativo vai ter display: flex */
            flex-direction: column;
        }



        .botoes-container {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 30px;
            /* Um pouco mais de espaço acima dos botões */


            button {
                background-color: #2e3505;
                color: white;
                border: none;
                padding: 12px 25px;
                border-radius: 8px;
                font-size: 1rem;
                transition: background-color 0.3s ease;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }

}