@layer components {
    /*mobile-fisrt*/

    #hero {
        /*Adiconando imagem de fundo do mobile*/
        /*Ela foi expandida da imagem orignal para funcionar aqui*/
        background-image: url(../../images/1750271411483_1nnnm2_2_0.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .container-hero {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding: 270px 16px;
            width: 100%;
            max-width: 550px;
            box-sizing: border-box;
            color: var(--color-white);
            transform: translateX(-100%);
            opacity: 0;
            transition: transform 1s ease, opacity 1s ease;


            &.active {
                transform: translateX(0);
                opacity: 1;
            }

            h1 {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 40px;
            }

            p {
                font-size: 0.90rem;
                font-weight: 600;
                line-height: 24px;
            }

            a {
                padding: 10px 15px;
                border-radius: 20px;
                border: none;
                background-color: var(--color-green-dark);
                color: var(--color-white);
                font-family: var(--font-navigation);
                font-size: 15px;
                font-weight: 800;
                cursor: pointer;
                transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
            }
        }


        @media (max-width: 1307px) and (min-width: 778px) {
            /*adicionando imagem de fundo modificada para esse intervalo no formato da tela*/
            background-image: url(../../images/passaro-redimencionado2.JPG);



            .container-hero {
                width: 100%;
                max-width: 785px;
                padding: 200px 300px 32px 32px;
                margin-left: 20px;
                align-items: flex-start;

                h1 {
                    font-size: 2.3rem;
                    margin-bottom: 30px;
                    line-height: 1.3;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.3;
                }

                a {
                    margin-top: 45px;
                    font-size: 1rem;
                    padding: 15px;

                    &:hover {
                        background-color: var(--background-hover-btn-hero);
                        transform: scale(1.05) translateY(-3px);
                        box-shadow: var(--box-shadow-btn-hero);
                    }
                }
            }
        }


        @media (min-width: 1308px) {
            /*Adiconando imagem de fundo original*/
            background-image: url(../../images/passaro3.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            align-items: flex-start;



            .container-hero {
                width: 100%;
                max-width: 600px;
                padding: 240px 0 32px 32px;
                margin-left: 20px;
                gap: 45px;

                h1 {
                    font-size: 2.5rem;
                    line-height: 1.3;
                }

                p {
                    font-size: 1.1rem;
                    line-height: 1.4;

                }

                a {
                    font-size: 1rem;
                    padding: 16px;
                }
            }
        }
    }
}