@layer reset, base, navegation, components;


@import url('reset.css') layer(reset);
@import url('base.css') layer(base);

@import url('navigation.css') layer(navigation);

@import url('components/hero.css') layer(components);
@import url('components/curiosities.css') layer(components);
@import url('components/sobre.css') layer(components);
@import url('components/contribuir.css') layer(components);
@import url('components/contato.css') layer(components);
@import url('components/footer.css') layer(components);


/*Estilos para os elementos de todas as seções que vão ter uma animação*/
.animated-main-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


.animated-main-item.active {
    opacity: 1;
    transform: translateY(0);
}